<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="Platespot"
             connectionString="Server=DESKTOP-LRGQRL9\SQLEXPRESS;Database=Platespot;Integrated Security=true;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>
		<compilation debug="true"  />
		<httpRuntime  />
	</system.web>
</configuration>